/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 13 nov. 2015, 10:10:10
    Author     : Nminfo
*/

.not-valide{
    border-color: #d9534f;
    /*border: 1px solid #d9534f;*/
}

.not-valide:focus{
    border-color: #66afe9;
}

.validation-div{
    padding: 10px;
    padding-bottom: 3px;
    margin-bottom: 25px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;

}
.hide-div{
    display: none;
}