#packTable tr{
    font-size: 1.05em;
}

#printDiv{

     position: relative;
     white-space: nowrap;
}
.saieg{
  position: absolute;
  top: 0.5%;
  left: 10%;
  /* font-size: 1.3em; */
  text-align: center;
}
.contrat{
  font-style: italic;
}

.nomenclature{
  font-style: italic;
}
.productName{
  position: absolute;
  top: 117%;
  left: 10%;
font-size: 1.9em;
}
.calibre{
  position: absolute;
  bottom: 67.4%;
  left: 24%;
font-size: 2.2em;
}
.boxNumberPrint{
  position: absolute;
  top: 160%;
  left: 25%;
  font-size: 1.6em;
}
#qrcode{
    position: absolute;
     top: 190%;
  left: 35%;
}
.bareCodePrint{
  position: absolute;
  top: 160%;
  left: 0%;
  border-collapse: collapse;
}
.qte{
  position: absolute;
  top: 260%;
  left: 33%;
}
.date{
  position: absolute;
  bottom: 3%;
  left: 9%;
  font-size: 1.4em;
}
#imgLabel{
    width: 48%;
    margin-left: 0.75%;
}
/* footer */
footer {
    padding: 2em 0;
    margin: 3em 0;
    border-top: 1px solid #ddd;
    color: #999;
    text-align: center;
}
